@import "@/scss/variables.scss";

.title{
	display: block;
	max-width: 870px;
	width: 100%;
	font-weight: 500;
	color: inherit;
	line-height: 1.5;
	letter-spacing: 1.5px;
	span {
		display: inline-block;
	}
}
.hero{
	font-size: 71px;
	line-height: 106px;
	letter-spacing: 2px;
	@media (max-width: $maxTablet){
		font-size: 56px;
		line-height: 84px;
	}
	@media (max-width: $minTablet){
		font-size: 44px;
		line-height: 66px;
		letter-spacing: 1.5px;
	}
	@media (max-width: $maxMobile){
		font-size: 32px;
		line-height: 48px;
	}
}
.h1{
	font-size: 50px;
	@media (max-width: $maxTablet){
		font-size: 44px;
	}
	@media (max-width: $minTablet){
		font-size: 38px;
	}
	@media (max-width: $maxMobile){
		font-size: 28px;
	}
}
.h2{
	font-size: 42px;
	letter-spacing: 1.4px;
	@media (max-width: $maxTablet){
		font-size: 38px;
	}
	@media (max-width: $minTablet){
		font-size: 36px;
	}
	@media (max-width: $maxMobile){
		font-size: 28px;
		letter-spacing: 2.1px
	}
}
.h3{
	font-size: 36px;
}
.h4{
	font-size: 30px;
	@media (max-width: $maxTablet){
		font-size: 24px;
	}
	@media (max-width: $minTablet){
		font-size: 20px;
	}
	@media (max-width: $maxMobile){
		letter-spacing: 1px;
	}

}
.h5{
	font-size: 24px;
	@media (max-width: $minTablet){
		font-size: 20px;
	}
}
.h6{
	font-size: 20px;
	@media (max-width: $minTablet){
		font-size: 18px;
	}
}
