@import '@/scss/variables.scss';

.desc{
    font-weight: 400;
    line-height: 33px;
    font-size: 18px;
    &.light{
        color: #141515;
    }
    @media (max-width: $maxMobile) {
        line-height: 1.48;
        font-size: 16px;
    }
}