@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.tagsWrapper {
	grid-column: 6 / -6;
	// display: flex;
	// align-items: center;
	margin-bottom: 70px;

	@media (max-width: 1300px) {
		grid-column: 4 / -4;
	}

	@media (max-width: 1080px) {
		margin-bottom: 60px;
	}

	@media (max-width: 700px) {
		grid-column: 1 / -1;
		padding: 0 16px;
		margin-bottom: 40px;
	}
}

.tags {
	background-color: white;
	grid-column: 8 / -8;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	li {
		padding: 0;
	}
}

.h1Header{
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: 75px;
	letter-spacing: 0em;
	margin-bottom: 40px;
	@media (max-width: 1300px) {
		font-size: 44px;
		font-style: normal;
		font-weight: 500;
		line-height: 66px;
	}

	@media (max-width: 1080px) {
		font-size: 38px;
		font-style: normal;
		font-weight: 500;
		line-height: 55px;
		margin-bottom: 30px;
	}

	@media (max-width: 700px) {
		font-size: 28px;
		font-style: normal;
		font-weight: 500;
		line-height: 42px;
	}
	// grid-column: 6 / -6;
}

.tagDiv{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tag {
	display: block;
	margin-right: 33px;
	color: #141515;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: -0.02em;
	text-align: left;
	transition: .3s;
	padding-bottom: 5px;
	border-bottom: 3px solid rgba(0,0,0,0);

	&:hover, &:focus{
		border-bottom: 3px solid #60FED9;
	}

	@media (max-width: 1080px) {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: -0.02em;
	}
}

.subscribe {
	@media (max-width: 768px) {}
}
.searcherBlock{
	svg{
		display: block;
	}
	@media (max-width: 900px) {
		position: fixed;
    	top: 43px;
    	right: 104px;
    	z-index: 100000;
	}
	@media (max-width: 900px) {
    	top: 45px;
    	right: 58px;
	}
}
.searcher{
	display: flex;
	align-items: center;
}
.searcherBtn svg path{
	fill: #A4A9B6;
}
.searcherBtnActive{
	padding-right: 10px;
	margin-right: 5px;
}
.searcherBtnActive svg path{
	fill: #141515;
}
.searcherinput{
	display: flex;
	align-items: center;
	input{
		position: relative;
		transition: .3s ease-in-out;
		border: none;
		outline: none;
		width: 0;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
		letter-spacing: -0.02em;
		text-align: left;
		background: none;
		&::placeholder{
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 18px;
			letter-spacing: -0.02em;
			text-align: left;
			color: #A4A9B6;
		}
	}
}

.searcherCloseActive{
	display: block;
	margin-left: 9px;
}

.searcherClose{
	display: none;
}

.searcherinputActive{
	width: 330px!important;
	@media (max-width: $maxMobile) {
		width: 150px!important;
	}
}