@import "@/scss/variables.scss";

.mainHero{
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding: 260px 0 100px;
	opacity: 0;
	@media (max-width: $maxTablet){
		padding: 229px 0 160px;
	}
	@media (max-width: $maxMobile){
		padding: 200px 0 100px;
	}
}
.container{
	grid-column: var(--mainWidth);
}
.heroContent{
	max-width: 854px;
	@media (max-width: $maxTablet){
		max-width: 680px;
	}
	@media (max-width: $minTablet){
		max-width: 565px;
	}
	@media (max-width: $maxMobile){
		max-width: 100%;
	}
}	
.heroTitle{
	margin: 0 0 20px;
	@media (max-width: $maxMobile){
		margin: 0 0 15px;
	}
}
.heroDesc{
	font-size: var(--fsL);
	line-height: 40px;
	span {
		display: inline-block;
	}
	@media (max-width: $minTablet){
		line-height: 28px;
	}
}