@import "@/scss/variables.scss";
@import "@/scss/mixins.scss";

.BlogItem {
	grid-column: 1 / -1;
	display: inherit;
	grid-template-columns: inherit;
	padding: 0;
	@media(max-width: 820px){
		overflow-x: hidden;
	}
}

.wrapStartSection {
	padding: 208px 0 calc(var(--spacing) / 2);
	grid-column: 1 / -1;
	display: inherit;
	grid-template-columns: inherit;
	margin-bottom: 10px;

	@media (max-width: $maxLaptop) {
		grid-column: 2 / -1;
		padding: 283px 0 140px;
	}

	@media (max-width: $maxMobile) {
		padding: calc(var(--spacing) * 2) 0 var(--spacing);
	}

	@media (max-width: $maxTablet) {
		grid-column: 1 / -1;
		padding: 66px 0 74px;
	}

	@media (max-width: $maxMobile) {
		padding: 56px 0 43px;
	}
}

.content {
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding-bottom: 90px;
	@media (max-width: $maxLaptop){
		padding-bottom: 70px;
	}
	@media (max-width: $maxTablet){
		padding-bottom: 50px;
	}
	@media (max-width: $maxTablet){
		padding-bottom: 30px;
	}
}

.top {
	margin-bottom: 90px;
	display: flex;
	flex-direction: column;
	grid-template-columns: inherit;
	grid-column: 1 / -1;

	@media (max-width: $maxTablet) {
		margin-bottom: 70px;
	}

	// @media (max-width: $maxMobile) {
	// 	padding-top: 169px;
	// 	grid-template-columns: 1fr;
	// }
}

.lineFooter{
	max-width: 810px;
	height: 2px;
	opacity: 0.2;
	background: #A4A9B6;
	margin: 0 auto;
}

.img {
	grid-column: 1 / 22;
	height: 600px;
	object-fit: cover;
	order: 2;
	// object-position: 70%;
	object-position: center;

	@media (max-width: $maxLaptop) {
		grid-column: 1 / 21;
		height: 400px;
	}

	@media (max-width: $maxTablet) {
		height: 364px;

	}

	@media (max-width: $maxMobile) {
		width: 100%;
		height: 240px;
		object-position: center;
	}
}

.subscribeMobile{
	grid-column: 11 / -17;
	display: none;
	justify-content: space-between;
	padding: 36px 44px;
	background: #F6F6F8;

	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
		display: flex;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
		flex-direction: column;
		justify-content: center;
		align: center;
		padding: 36px 6px 40px;
	}

	@media (max-width: $maxMobile) {
		grid-column: 1 / -1;
		margin: 0 16px;
	}

	.title{
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
		margin: 0 0 8px;
		@media (max-width: $maxTablet) {
			text-align: center;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: 27px;
			letter-spacing: 0em;
		}
	}
	.text{
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 29px;
		letter-spacing: 0em;
		text-align: left;
		@media (max-width: $maxTablet) {
			text-align: center;
			padding-bottom: 20px;
		}
	}
	.subscribeButton{
		margin-top: 0;
		font-family: Gordita;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: -0.02em;
		text-align: center;
		padding: 14px 32px;
		border: 2px solid #141515;
		border-radius: 100px;
		background: none;
		transition: .3s;
		max-width: 153px;
		width: 100%;
		
		&:hover{
			background: #60FED9;
			border: 2px solid rgba(0,0,0,0);
		}

		@media(max-width: $maxTablet){
			margin: 0 auto;
		}
	}
}

.wrapTitle {
	grid-column: 25 / -6;
	align-self: center;
	order: 1;
	padding: 236px 0 0 0;

	@media (max-width: $maxTablet) {
		grid-column: 25 / -7;
		padding: 170px 0 0 0;
	}

	@media (max-width: $maxMobile) {
		padding-left: 16px;
		padding-right: 16px;
	}

	a {
		position: relative;
		display: block;
		color: #111212;
		margin-left: 20px;
		font-size: 18px;
		font-weight: bold;
		line-height: 23px;
		margin-bottom: 80px;

		//transform: translateY(-158px);

		// @media (max-width: $maxTablet) {
		//   transform: translateY(-58px);
		// }

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -20px;
			height: 26px;
			width: 46px;
			background-color: #f5f5f5;
			z-index: -1;
		}
	}

	h1 {
		font-size: 50px;
		font-style: normal;
		font-weight: 500;
		line-height: 75px;
		letter-spacing: 0em;
		text-align: center;
		max-width: 872px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 30px;


		@media (max-width: $maxLaptop) {
			font-size: 44px;
			font-style: normal;
			font-weight: 500;
			line-height: 66px;
			letter-spacing: 0em;
			text-align: center;
		}
		@media (max-width: $maxTablet) {
			font-size: 38px;
			font-style: normal;
			font-weight: 500;
			line-height: 55px;
			letter-spacing: 0em;
			text-align: center;
		}
		@media (max-width: $maxMobile) {
			font-size: 28px;
			font-style: normal;
			font-weight: 500;
			line-height: 42px;
			letter-spacing: 0em;
			text-align: left;
		}
	}

	h4{
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 33px;
		letter-spacing: 0em;
		text-align: center;
		padding: 0 0 20px;
		text-transform: uppercase;
		color: #7F838D;

	    @media (max-width: $maxTablet) {
			font-size: 16px;
			font-style: normal;
			font-weight: 500;
			line-height: 28px;
			letter-spacing: 0em;
			text-align: center;
	    }

	    @media (max-width: $maxMobile) {
			text-align: left;
	    }
	}

	// p {
	//   color: #9fa4a6;
	//   font-family: 'PT Sans';
	//   font-size: 16px;
	//   letter-spacing: 0.5px;
	//   line-height: 33px;
	// }
}

.body {
	position: relative;
	grid-column: 11 / -17;
	margin-bottom: 230px;

	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
	}

	@media (max-width: $maxMobile) {
		grid-column: 5 / -4;
		margin-bottom: 124px;
	}

	span {
		color: #9fa4a6;
		font-family: "PT Sans";
		font-size: 18px;
		letter-spacing: 0.56px;
		line-height: 33px;
	}

	p {
		color: #111212;
		font-family: "PT Sans";
		font-size: 21px;
		line-height: 32px;

		@media (max-width: $maxMobile) {
			font-size: 18px;
		}
	}

	ul {
		padding-left: 51px;
		margin-bottom: 23px;

		@media (max-width: $maxMobile) {
			padding-left: 31px;
		}

		li {
			position: relative;
			color: #111212;
			font-family: "PT Sans";
			// font-size: 21px;
			// line-height: 32px;
			padding: 8px 0;

			&:before {
				content: "";
				position: absolute;
				top: 50%;
				left: -30px;
				height: 7px;
				width: 7px;
				background-color: #9fa4a6;
				border-radius: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.touchingList {
	display: inline-block;

	li {
		position: relative;

		&:after {
			content: "";
			bottom: 12px;
			left: 0;
			padding: 0 3px;
			width: 100%;
			height: 25%;
			position: absolute;
			background: rgba(151, 151, 151, 0.1);
			z-index: -1;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			&:after {
				background: #30fddc;
			}
		}
	}
}

.case {
	position: absolute;
	top: 0;
	left: -109px;
	transform: translateX(-50%);

	@media (max-width: $maxTablet) {
		top: -50px;
		left: calc(var(--cellSize) * 3);
	}

	@media (max-width: $maxMobile) {
		left: calc(var(--cellSize) * 5);
	}
}

.caseText1 {
	margin-bottom: 22px;
}

.caseText2 {
	margin-bottom: 75px;
}

.whatTitle {
	margin-bottom: 14px;
	color: #111212;
	font-size: 38px;
	letter-spacing: 0.7px;
	line-height: 57px;

	@media (max-width: $maxMobile) {
		font-size: 29px;
		line-height: 39px;
	}
}

.whatText {
	margin-bottom: 45px;
}

.whatText2 {
	margin-bottom: 22px;
}

.whatText3,
.whatText4 {
	margin-bottom: 49px;
}

.whatText5 {
	margin-bottom: 57px;
}

.whatImg {
	margin-bottom: 17px;
}

.whatImgDescription {
	display: block;
	text-align: center;
	margin-bottom: 57px;
}

.whatText6,
.whatText7,
.whatText8 {
	margin-bottom: 49px;
}

.whatText9 {
	margin-bottom: 92px;
}

.whatPreverb {
	color: #111212;
	font-size: 28px;
	letter-spacing: 0.52px;
	line-height: 42px;
	font-weight: normal;

	@media (max-width: $maxMobile) {
		font-size: 29px;
		line-height: 39px;
	}
}

.whatPreverbDescription {
	margin-bottom: 92px;
	display: block;
	color: #9fa4a6;
	font-family: "PT Sans";
	font-size: 18px;
	letter-spacing: 0.56px;
	line-height: 33px;
	text-align: right;
}

.conclusionTitle {
	margin-bottom: 14px;
	color: #111212;
	font-size: 38px;
	letter-spacing: 0.7px;
	line-height: 57px;

	@media (max-width: $maxMobile) {
		font-size: 29px;
		line-height: 39px;
	}
}

.conclusionText {
	margin-bottom: 49px;
}

// =============================== AUTHOR ==================================

.author {
	display: grid;
	grid-template-columns: 64px 1fr;
	grid-column-gap: 20px;
	width: 100%;
	font-size: 16px;
	line-height: 20px;
	color: #111212;
	max-width: 250px;
	margin: 0 auto;
	padding-bottom: 90px;
	@media(max-width: $maxTablet){
		padding-bottom: 70px;
	}
	@media(max-width: $maxMobile){
		margin: 0;
	}
}

.desctopDesc{
	display: block;
	@media(max-width: $maxLaptop){
		display: none;
	}
}

.mobileDesc{
	display: none;
	@media(max-width: $maxLaptop){
		display: block;
	}
}

.authorImage {
	display: block;
	height: 64px;
	width: 64px;
	border-radius: 50%;
	grid-column: 1;
	grid-row: 1 / 3;
}

.authorName {
	grid-row: 1;
	grid-column: 2 / -1;
	align-self: end;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: left;
}

.authorDescription {
	grid-row: 2;
	grid-column: 2 / -1;
	align-self: start;
	color: #797d7e;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;
}

// ======================== POST DATE ===========================
.postDate {
	grid-column: 9 / -10;
	margin-bottom: -28px;
	justify-self: end;
	color: #7F838D;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: left;


	@media (max-width: $maxLaptop) {
		grid-column: 4 / 10;
		display: none;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
		justify-self: start;
	}

	@media (max-width: $maxMobile) {
		grid-column: 5 / -4;
		margin-bottom: 20px;
	}
}

// ======================== REGULAR TEXT ===================
.regularText {
	grid-column: 11 / -17;
	margin-bottom: 30px;
	align-self: start;
	font-family: Gordita;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 33px;
	letter-spacing: 0em;
	text-align: left;


	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
	}

	@media (max-width: $maxTablet) {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0em;
		text-align: left;

		grid-column: 8 / -10;
	}

	@media (max-width: $maxMobile) {
		grid-column: 1 / -1;
		margin-bottom: 20px;
		padding: 0 16px;
	}
}

.regularText + .quotedText{
	margin-top: 40px;
}

.quotedText + .h2Heading{
	margin-top: 30px;
}

// ======================== QUOTED TEXT ===================
.quotedText {
	grid-column: 11 / -17;
	margin-top: 30px;
	margin-bottom: 90px;
	color: #111212;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0em;
	text-align: left;



	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
		margin-top: 20px;
		margin-bottom: 70px;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
	}

	@media (max-width: $maxMobile) {
		grid-column: 1 / -1;
		padding: 0 16px;
	}
}

// ======================== LIST HEADING (H6) ===================
.h6Heading {
	grid-column: 11 / -17;

	color: #111212;
	font-family: "pt_sansregular", sans-serif;
	font-size: 21px;
	line-height: 32px;
	font-weight: normal;

	margin-top: 32px;
	margin-bottom: 28px;

	@media (max-width: $maxLaptop) {
		margin-top: 72px;
		grid-column: 11 / -11;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
	}

	@media (max-width: $maxMobile) {
		grid-column: 5 / -4;
		margin-top: 42px;
		margin-bottom: 24px;
	}
}

// ========================= LIST ================================
.list {
	grid-column: 12 / -17;

	font-family: "pt_sansregular", sans-serif;
	font-size: 21px;
	line-height: 48px;

	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
	}

	@media (max-width: $maxTablet) {
		grid-column: 9 / -10;
	}

	@media (max-width: $maxMobile) {
		grid-column: 1 / -1;
		margin-bottom: 24px;
		// padding: 0 16px;
	}
}

.list .listItem {
	position: relative;
	margin-bottom: 10px;

	@media(max-width: $maxMobile) {
		margin-left: 20px;
	}

	color: #111212;
	font-family: "pt_sansregular", sans-serif;
	font-size: 21px;
	line-height: 48px;
	// @media (max-width: $maxLaptop) {
	//   grid-column: 11 / -11;
	// }
	// @media (max-width: $maxTablet) {
	//   grid-column: 8 / -10;
	// }
	// @media (max-width: $maxMobile) {
	//   grid-column: 5 / -4;
	//   margin-bottom: 24px;
	// }
}

.listItem:before {
	content: "-";
    position: absolute;
    left: -19px;
    top: -9px;
    /* height: 7px; */
    /* width: 7px; */
    /* background-color: #9fa4a6; */
    /* border-radius: 50%; */
    /* margin-top: 0.5em; */

	@media(max-width: $maxMobile) {
		left: 0;
		top: -12px;
	}
}

.listItem>.regularText {
	margin: 0;
}

// ======================== PARAGRAPH HEADING (H2) ===================
.h2Heading {
	grid-column: 11 / -17;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 54px;
	letter-spacing: 0em;
	text-align: left;

	margin-bottom: 30px;
	margin-top: 60px;

	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
		font-size: 32px;
		font-style: normal;
		font-weight: 500;
		line-height: 54px;
		letter-spacing: 0em;
		text-align: left;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
		font-size: 30px;
		font-style: normal;
		font-weight: 500;
		line-height: 45px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 20px;
	}

	@media (max-width: $maxMobile) {
		grid-column: 1 / -1;
		margin-top: 50px;
		margin-bottom: 20px;
		padding: 0 16px;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
	}
}

// ======================== PARAGRAPH HEADING (H3) ===================
.h3Heading {
	grid-column: 11 / -17;
	font-size: 30px;
	font-style: normal;
	font-weight: 500;
	line-height: 45px;
	letter-spacing: 0em;
	text-align: left;

	text-align: left;

	margin-bottom: 14px;
	margin-top: 30px;

	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 30px;
		letter-spacing: 0em;
		text-align: left;
	}

	@media (max-width: $maxMobile) {
		grid-column: 1 / -1;
		padding: 0 16px;
		margin-top: 20px;
	}
}

// ======================== IMAGE IN CONTENT ===================
.contentImage {
	grid-column: 11 / -17;
	display: block;
	width: 100%;
	object-fit: cover;
	margin-top: 15px;
	margin-bottom: 30px;

	@media (max-width: $maxLaptop) {
		grid-column: 11 / -11;
	}

	@media (max-width: $maxTablet) {
		grid-column: 8 / -10;
	}

	@media (max-width: $maxMobile) {
		grid-column: 1 / -1;
		margin-bottom: 20px;
	}
}

// ======================== LINK ===================

.link {
	color: #111212;
	background-image: linear-gradient(rgba(164, 169, 182, 0.63), rgba(164, 169, 182, 0.63));
	background-repeat: no-repeat;
	background-position: left 0 bottom 0;
	background-size: 100% 3px;
	transition: all 0.1s linear 0s;
}

.link:hover {
	background-size: 100% 50%;
	background-image: linear-gradient(#60FED9, #60FED9);
}

// .link {
//   color: #111212;
//   padding: 0 3px;
// }

// .link:hover .linkWord:after {
//   height: 15px;
// }

// .linkWord {
//   position: relative;
//   display: inline-block;
// }

// .linkWord:after {
//   content: "";
//   display: block;
//   width: 100%;
//   height: 2px;
//   background-color: #30fddc;
//   position: absolute;
//   bottom: 0;
//   z-index: -1;
//   transition: height 0.3s ease-in-out;
// }

// ======================== STICKY ASIDE =======================
.stickySoc{
	grid-row: 3 / span 3;
	grid-column: 11 / 7;
	position: sticky;
	top: 150px;
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		background: #F6F6F8;
		border-radius: 100px;
		margin-bottom: 11px;
		@media(max-width: $maxMobile){
		    width: 44px;
		    height: 44px;
			margin-bottom: 0;
			margin-right: 10px;
		}
	}
	@media (max-width: $maxLaptop){
		grid-column: 7 / 10;
	}
	@media (max-width: $maxTablet){
		grid-column: 3 / 3;
	}
	@media (max-width: $maxMobile){
		grid-column: 1 / 1;
		grid-row: inherit;
		position: static;
		padding: 0 16px;
		display: flex;
		margin-top: 50px;
	}
}

.stickyAside {
	grid-row: 3 / span 3;
	grid-column: -5 / -14;
	max-width: 315px;
	position: sticky;
	top: 150px;
	background-color: #fff;
	padding: 44px 0;
	margin-bottom: 100px;
	font-family: "Gorgita Regular", Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 28px;
	align-self: end;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	background: #F6F6F8;

	@media (max-width: $maxLaptop) {
		display: none;
	}

	.title{
		font-family: Gordita;
		font-size: 24px;
		font-style: normal;
		font-weight: 500;
		line-height: 36px;
		letter-spacing: 0em;
		text-align: left;
		margin-bottom: 10px;
	}
	.text {
		font-family: Gordita;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 33px;
		letter-spacing: 0em;
		text-align: center;
		max-width: 244px;
		width: 100%;
		margin: 0 auto;
	}

	.subscribeButton{
		margin-top: 20px;
		font-family: Gordita;
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 16px;
		letter-spacing: -0.02em;
		text-align: center;
		padding: 14px 32px;
		border: 2px solid #141515;
		border-radius: 100px;
		background: none;
		transition: .3s;
		max-width: 153px;
		width: 100%;
		
		&:hover{
			background: #60FED9;
			border: 2px solid rgba(0,0,0,0);
		}

		@media(max-width: $maxTablet){
			margin: 0 auto;
		}
	}


	@media (max-width: $maxTablet) {
		display: none;
	}

	@media (max-width: $maxMobile) {}
}

.title {
	font-weight: bold;
	margin-bottom: 5px;
}

.text {
	font-family: "Gordita", Arial, Helvetica, sans-serif;
	letter-spacing: 0.5px;
}

button.subscribeButton {
	margin: 0;
	margin-top: 20px;
	padding: 0 30px;
	line-height: 18px;

	@media (max-width: $maxLaptop) {}

	@media (max-width: $maxTablet) {}

	@media (max-width: $maxMobile) {}
}