@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.Blog {
	grid-column: 1 / -1;
	display: inherit;
	grid-template-columns: inherit;
	padding: 185px 0 0;

	@media (max-width: $maxTablet) {
		padding: 125px 0 0;
	}
}