@import '@/scss/variables.scss';
@import '@/scss/mixins.scss';

.Blog {
	grid-column: 1 / -1;
	display: inherit;
	grid-template-columns: inherit;
	padding: 190px 0 0;

	@media (max-width: $maxTablet) {
		padding: 150px 0 0;
	}
}

.blogHungry{
	.Hungry:before{
	    display: none;
    }
}

.paginationBlock{
	display: grid;
	grid-column: 1 / -1;
	margin: 0 auto;
	button{
		height: 46px;
		min-width: 46px;
		font-family: Gordita;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		line-height: 18px;
		letter-spacing: 0em;
		text-align: center;
		border-radius: 50%;
		background: #30FDDC;
		color: #000;
	}
}

.MuiPaginationItem-page.Mui-selected{
	background: #30FDDC!important;
}

.searcherinput{
	display: flex;
	align-items: center;
	input{

	}
}