
@import "@/scss/variables.scss";

.sliderSection{
	display: inherit;
	grid-template-columns: inherit;
	grid-column: 1 / -1;
	padding: 164px 0 164px;
	@media (max-width: $maxTablet){
		padding: 140px 0;
	}
	@media (max-width: $minTablet){
		padding: 140px 0 130px;
	}
	@media (max-width: $maxMobile){
		padding: 108px 0;
	}
}
.sliderSectionDark{
	@extend .sliderSection;
	background: rgba(#A4A9B6, .1);
	
}
.container{
	grid-column: var(--mainWidth);
	padding: 0 var(--cellSize);
	@media (max-width: $maxTablet){
		padding: 0;
	}
}
